include miacag/configs/classification/_3D/lca_rca/*.yaml
include miacag/configs/classification/_3D/stenosis_detection_rca/*.yaml
include miacag/models/torchhub/3D/mvit_base_16x4/*.pt
include miacag/models/torchhub/3D/mvit_base_32x3/*.pt
include miacag/models/torchhub/3D/r2plus1_18/*.pt
include miacag/models/torchhub/3D/x3d_s/*.pt
